*, *::before, *::after {
    box-sizing: borer-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(106, 106, 106);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prompt {
    width: 500px;
    max-width: 90%;
    height: 100px;
    margin-bottom: 10px;
    background-color: #2d3e50;
    font-family: 'Courier New', Courier, monospace;
    color: #538FC6;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .25rem;    
    border: none;
    padding: 10px;
    outline: none;
}

.btn {
    background-color: hsl(200, 100%, 50%);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    width: 200px;
}

.btn:hover {
    background-color: hsl(200, 100%, 76%)
}

#score-heading {
    color:#2d3e50;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .25rem;    
}